/***************************
****************************
Photo Styles
****************************
***************************/

/* Create IMAGE GALLERY */
/* DELETE ALL CODE BELOW */
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1em;
}


/* .pictures figure:nth-child(1){
    flex-basis: 1;
}

.pictures figure:nth-child(2){
    flex-basis: 2;
}

.pictures figure:nth-child(3){
    flex-basis: 20em;
}

.pictures figure:nth-child(4){
    flex-basis: 20em;
}

.pictures figure:nth-child(5){
    flex-basis: 20em;
}

.pictures figure:nth-child(6){
    flex-basis: 20em;
} */

