/***************************
****************************
Photo Styles
****************************
***************************/

/* Create IMAGE GALLERY */
/* DELETE ALL CODE BELOW */

.grid-gallery {
    
}

.gallery-item {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 93, .8);
}

.gallery-title {
    color: #0c6cb6;
}

svg {
    max-width: 27em;
}
