/* ADD code to min-width media query */
@media only screen and (max-width: 48em) {
    .page-wrap {
        transition: all 200ms ease-in-out;
    }

    .offcanvas-expanded .page-wrap {
        transform: translateX(250px);
    }

    .offcanvas {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 5000;
        transform: translateX(-250px);
        transition: all 200ms ease-in-out;
    }

    .offcanvas-expanded .offcanvas {
        transform: translateX(0);
    }

    /***************************
    ****************************
    SVG Hamburguer Icon
    ****************************
    ***************************/
    svg.offcanvas-toggle {
        margin: 0.5em;
    }
    svg:hover {
        cursor: pointer;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        overflow-y: auto;
    }

    .navbar {
        background-color: #0c6cb6;
        height: 100%;
        
    }
    
    .navbar-nav li a {
        color: #ccc;
        
    }
    
    .navbar-nav li {
        margin: 1em auto;
        padding-left: 0.5em;
        padding-bottom: 0.4em;
        border-bottom: 1px solid #05416f;
        width: 100%;
    }
    
    .navbar-nav li.active {
        padding-left: 1em;
        border-left: 3px solid white;
    }
}
/* ADD code to min-width media query */



/***************************
****************************
Nav Layout
****************************
***************************/
@media only screen and (min-width: 48em) {
    svg.offcanvas-toggle {
        display: none;
    }
    .navbar-nav {
        display: flex;
        justify-content: right;
        padding: 0.5em 0;
    }
    .navbar-nav li {
        margin-right: 2em;
    }
    .navbar-nav li.active {
        border-bottom: 1px solid #007644;
    }
    
    /***************************
    ****************************
    Nav Theme Styles
    ****************************
    ***************************/
    .navbar {
        background-color: #4fcf99;
    }
    
    .navbar-nav li a {
        color: #007644;
    }
}
