/* SVG ICON */
/* .open-slide a svg {
    margin: 0.5em;
} */

.navbar {
    background-color: #4fcf99;
    height: 63px;
}

/* .navbar ul li a,
#side-menu a {
    color: #007644;
    text-decoration: none;
} */

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    padding: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #00bf6d;
    color: #007644;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c6cb6;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.3s cubic-bezier(0.56, 0.67, 0.05, 0.81);
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: all 0.3s cubic-bezier(0.56, 0.67, 0.05, 0.81);
}

.side-nav a:hover {
    color: #fff;
}
.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    /* margin-left: 50px; */
    transform: translateX(15px);
}

@media(max-width: 568px){
    .navbar-nav {
        display: none;
    }
}

@media(min-width: 568px){
    .open-slide {
        display: none;
    }
}

header, main {
    /* transition: margin-left 0.5s; */
    transition: all 0.3s cubic-bezier(0.56, 0.67, 0.05, 0.81);
    width: 100%;
}